/*===================================================*/
/*****Arctic One Page Responsive Bootstrap Theme*****/
/*==================================================*/

/*=================================*/
/*========== General Styles ========*/
/*=================================*/
*{ 
	margin:0; 
	padding:0; 
}
h1, h2, h3, h4, h5, h6, p, ul, 
li, body, html, form, fieldset{ 
	margin:0; 
	padding:0; 
	outline:none; 
	border:0 
}
form, fieldset{ 
	width:100% 
}
img{ 
	border:0; 
}
a{ 
	text-decoration:none; 
	border:0; 
	outline:0; 
}
ul{ 
	list-style:none; 
}
a:focus, 
input:focus, 
textarea:focus, 
*:focus { 
	outline:0 !important; 
	box-shadow:none !important; 
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;
}
/* Remove Chrome Input Field's Unwanted Yellow Background Color */
input:-webkit-autofill, 
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
.clearfix { 
	clear:both; 
	width:auto !important 
}
.nobg { 
	background:transparent !important; 
}
html, body{
	height:100%;
}

body
{
	background: #f8faf5 none repeat scroll 0 0;
    color: #333333;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;	
	-webkit-font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale; 
}
a, input, button,.fa:hover { 
	text-decoration:none; 
	color: inherit; 
	outline:none; 
	transition: all 0.3s ease-in; 
	-moz-transition: all 0.3s ease-in; 
	-o-transition: all 0.3s ease-in; 
	-webkit-transition: all 0.3s ease-in; 
	-ms-transition: all 0.3s ease-in; 
}
a:hover {  
	text-decoration: none;
}
a:active { 
	outline: none; 
	text-decoration: none; 
}
a:focus { 
	outline: none; 
	outline-offset: 0px; 
	text-decoration: none; 
}
::-webkit-input-placeholder{
	color:#999; 
	opacity: 1;
} 
::-moz-placeholder {
	color:#999; 
	opacity: 1;
}
:-moz-placeholder {
	color:#999; 
	opacity: 1;
}
:-ms-input-placeholder {
	color:#999; 
	opacity: 1;
}
:-o-input-placeholder {
	color:#999; 
	opacity: 1;
}
img { 
	max-width: 100%; 
}

section p,section h4,section h5,section h6,section span
{
	margin-top:10px;	
}

h1,h2,h3,h4,h5,h6
{
	font-family:"Courgette",sans-serif;	
}

.h1, .h2, .h3, h1, h2, h3
{
	margin-top:0px;
}

h1
{
	font-size:45px;	
}

h2
{
	font-size:35px;		
}

h3
{
	font-size:30px;	
}

h4
{
	font-size:25px;		
}

h5
{
	font-size:18px;		
}

h6
{
	font-size:14px;		
}

a{
	color:#fbb100;	
}

a:hover,a:active,a:focus
{
	color:#b78101;	
}


a,a:hover,a:link,a:active,a:focus
{
	text-decoration:none;	
}

.white
{
	color:#ffffff;	
}

.grey
{
	color:#333333;	
}

.padd_one
{
	padding:50px 0px;	
}

section
{
	padding:80px 0px;
	overflow:hidden;
}

section.bgwhite
{
	background-color:#ffffff;
   	box-shadow: 0 -4px 13px 6px rgba(0, 0, 0, 0.1);
}

.mar-bot-20
{
	margin-bottom:20px;	
}

.mar-bot-30
{
	margin-bottom:30px;	
}
.mar-bot-40
{
	margin-bottom:40px;	
}
.mar-bot-50
{
	margin-bottom:50px;	
}

.padd-one
{
	padding:50px 0px;	
}

.no-padd
{
	padding:0px;	
}

.overlay-bg {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.btn{
	border-radius:50px;
	font-weight:400;
	padding: 10px 30px;
	font-size: 16px;
	box-shadow:none; 
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	font-family:'Open Sans',sans-serif;
}

.btn-default {
	color: #fff; 
	background-color:#fbb100;  
	border:solid 1px #fbb100;  
}
.btn-default:hover, .btn-default:focus, 
.btn-default:active{ 
	color:#fbb100 ; 
	background-color: transparent; 
	border:1px solid #fbb100;
}

.btn-default.disabled.focus, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default.focus[disabled], 
.btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default.focus, 
fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover{
	background-color:transparent;
	border-color:#fbb100;	
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn{
	cursor:pointer;
	pointer-events:all;
	opacity:1;
}


.btn-primary {
	color: #333333; 
	background-color:transparent;  
	border:solid 1px #333333;
	margin-top:20px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active{ 
	color: #fff; 
	background-color: #333333; 
	border-color: #333333;
}

/* ================= Waypoints =================*/
.os-animation{
	opacity: 0;
}
.os-animation.animated{
	opacity: 1;
}


/*=================================*/
/*========== Navigation ===========*/
/*=================================*/
.navbar-default {
	background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
	border: none;
	padding: 20px 0;
	transition: .4s;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s;
}

.navbar-default.affix {
	background-color: #1c1c1c;
	padding: 5px 0;
	transition: .4s;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-ms-transition: .4s;
	-o-transition: .4s;
}

.navbar
{
	border-radius:0px;	
	margin-bottom:0px;
}

.navbar-default .navbar-brand
{
	color:#fbb100;
	font-size:30px;
	font-weight:400;
	font-family:"Open+Sans",sans-serif;	
	text-transform:uppercase;
}

.navbar-default .navbar-brand:focus, 
.navbar-default .navbar-brand:hover
{
	color:#fbb100;	
}

.navbar-nav > li > a
{
	text-transform:uppercase;
}

.navbar-default .navbar-nav > li > a
{
color:#fff;	
}
.navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-nav > li > a:hover
{
	text-transform:uppercase;
	color:#fbb100;
	background:transparent;			
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover
{
	text-transform:uppercase;
	color:#fbb100;
	background-color:transparent;
}

.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover
{
	background-color:transparent;	
}

.navbar-default .navbar-toggle
{
	border-color:transparent;	
}

.navbar-default .navbar-toggle .icon-bar
{
	background-color:#ffffff;	
}

/*=================================*/
/*========== Banner ===============*/
/*=================================*/
section#banner
{
	padding: 175px 0 100px;
	background-color:#fbb100;
}
/*=================================*/
/*========== Our Services =========*/
/*=================================*/
#our_services .fa:hover
{
	color:#fbb100;
}

/*=================================*/
/*========== Testimonials =========*/
/*=================================*/
#testimonials
{
	position:relative;
	background: rgba(0, 0, 0, 0) url("../images/testimonials/testimonials.jpg") no-repeat fixed center top / cover ;	
}

#testimonials .overlay-bg {
	background-color:rgba(0, 0, 0, 0.6);
}

/*=================================*/
/*========== Our Team =============*/
/*=================================*/
.designation
{
	font-size:20px;
	color:#666;	
}

.team_block .social-icon a
{
	color: #333333;
    font-size: 18px;
    margin: 10px;
}

.team_block .social-icon a:hover,
.team_block .social-icon a:focus
{
	color:#fbb100;	
}

/*=================================*/
/*========== Marketing ============*/
/*=================================*/
#marketing
{
	position:relative;
	background: rgba(0, 0, 0, 0) url("../images/marketing/marketing.jpg") no-repeat fixed center top / cover ;		
}

#marketing .overlay-bg {
	background-color:rgba(0, 0, 0, 0.6);
}

/*=================================*/
/*========== Contact Us ============*/
/*=================================*/
.form-control {
	border: 1px solid #ededed;
    border-radius: 0;
    box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	color: #000;
    height: 35px;
    outline: medium none;
    padding: 5px 12px;
}
.form-control:focus{
	border-color:#e82c06;	
}
.placeholder{
	color:#999;
}
.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, 
.has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, 
.has-error.radio label, .has-error.radio-inline label
{
	color: #e71f0a;
	font-size: 14px;
    font-weight: 400;	
}

.text-success{
	color: #fbb100;
}
.text-danger{
	color:#e71f0a;
}

/*=================================*/
/*========== Google Map ============*/
/*=================================*/
.map-section{
	position:relative;
}

.map-section .map-container{
	position:relative;
	height:550px;	
}
.map-info { 
	margin: 0px; 
	padding: 10px;
	color:#000;
	letter-spacing:1px;
}

/*=================================*/
/*============= Footer ============*/
/*=================================*/
.social-link a,
.social-link a:hover,
.social-link a:active,
.social-link a:focus{
	background-color: rgb(34, 34, 34);
	border: 1px solid #fbb100;
	border-radius: 50%;
	box-shadow: 0 2px 2px #000;
	-webkit-box-shadow: 0 2px 2px #000;
	-moz-box-shadow: 0 2px 2px #000;
	color: #fbb100;
	display: block;
	font-size: 14px;
	height: 44px;
	line-height: 45px;
	text-align: center;
	width: 44px;
	outline:medium none;
}
.social-link{
	margin:10px 0px;
}

footer#footer
{
background-color:#333333;	
}

/*=================================*/
/*=========== Back To Top =========*/
/*=================================*/
.back-to-top { 
	position: fixed; 
	bottom: 6px; 
	right: 6px; 
	text-decoration: none; 
	color: #000; 
	background:transparent none repeat scroll 0 0;
	border: 1px solid #000;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	font-size: 20px; 
	padding:10px 15px; 
	display: none; 
	z-index:9999;
}
.back-to-top:hover ,.back-to-top:active,.back-to-top:focus{ 
	background:transparent;
	color:#000;
	border: 1px solid #000; 
}


@media handheld, only screen and (max-width: 767px) {
/*=================================*/
/*========== Navigation ===========*/
/*=================================*/
	.navbar-default .navbar-nav > li > a	
	{
		text-align:center;
		border-bottom:1px solid #5f5f5f;	
	}
	
	.navbar-default .navbar-nav > li:last-child > a
	{
	border-bottom: none;	
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form
	{
		  border-color: #222222;	
	}
}

@media handheld, only screen and (max-width: 980px) {
/*=================================*/
/*========== Our Team =============*/
/*=================================*/
	.team_block
	{
		margin-top:30px;	
	}	
}